<a href="https://colab.research.google.com/github/sasireddyvari/Complete_Machine_Learning/blob/master/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pwd

'C:\\Users\\reddyvari.naresh\\Desktop\\Data Science Training\\Logistic Regression'

## Loading of libaries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("mtcars_sample.csv")

In [ ]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  gear  carb  am
0   21.0    6  160.0  110  3.90  2.620  16.46   0     4     4   1
1   21.0    6  160.0  110  3.90  2.875  17.02   0     4     4   1
2   22.8    4  108.0   93  3.85  2.320  18.61   1     4     1   1
3   21.4    6  258.0  110  3.08  3.215  19.44   1     3     1   0
4   18.7    8  360.0  175  3.15  3.440  17.02   0     3     2   0
5   18.1    6  225.0  105  2.76  3.460  20.22   1     3     1   0
6   14.3    8  360.0  245  3.21  3.570  15.84   0     3     4   0
7   24.4    4  146.7   62  3.69  3.190  20.00   1     4     2   0
8   22.8    4  140.8   95  3.92  3.150  22.90   1     4     2   0
9   19.2    6  167.6  123  3.92  3.440  18.30   1     4     4   0
10  17.8    6  167.6  123  3.92  3.440  18.90   1     4     4   0
11  16.4    8  275.8  180  3.07  4.070  17.40   0     3     3   0
12  17.3    8  275.8  180  3.07  3.730  17.60   0     3     3   0
13  15.2    8  275.8  180  3.07  3.780  18.00   0     3     3   0
14  10.4    8  472.0  205  2.93  5.250  17.98   0     3     4   0
15  10.4    8  460.0  215  3.00  5.424  17.82   0     3     4   0
16  14.7    8  440.0  230  3.23  5.345  17.42   0     3     4   0
17  32.4    4   78.7   66  4.08  2.200  19.47   1     4     1   1
18  30.4    4   75.7   52  4.93  1.615  18.52   1     4     2   1
19  33.9    4   71.1   65  4.22  1.835  19.90   1     4     1   1
20  21.5    4  120.1   97  3.70  2.465  20.01   1     3     1   0
21  15.5    8  318.0  150  2.76  3.520  16.87   0     3     2   0
22  15.2    8  304.0  150  3.15  3.435  17.30   0     3     2   0
23  13.3    8  350.0  245  3.73  3.840  15.41   0     3     4   0
24  19.2    8  400.0  175  3.08  3.845  17.05   0     3     2   0
25  27.3    4   79.0   66  4.08  1.935  18.90   1     4     1   1
26  26.0    4  120.3   91  4.43  2.140  16.70   0     5     2   1
27  30.4    4   95.1  113  3.77  1.513  16.90   1     5     2   1
28  15.8    8  351.0  264  4.22  3.170  14.50   0     5     4   1
29  19.7    6  145.0  175  3.62  2.770  15.50   0     5     6   1
30  15.0    8  301.0  335  3.54  3.570  14.60   0     5     8   1
31  21.4    4  121.0  109  4.11  2.780  18.60   1     4     2   1

In [ ]:
x=df.iloc[:,:5]
x.head()

    mpg  cyl   disp   hp  drat
0  21.0    6  160.0  110  3.90
1  21.0    6  160.0  110  3.90
2  22.8    4  108.0   93  3.85
3  21.4    6  258.0  110  3.08
4  18.7    8  360.0  175  3.15

In [ ]:
y=df.iloc[:,-1]

In [ ]:
y

0     1
1     1
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    1
18    1
19    1
20    0
21    0
22    0
23    0
24    0
25    1
26    1
27    1
28    1
29    1
30    1
31    1
Name: am, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=20)

In [ ]:
xtrain

     mpg  cyl   disp   hp  drat
12  17.3    8  275.8  180  3.07
23  13.3    8  350.0  245  3.73
5   18.1    6  225.0  105  2.76
27  30.4    4   95.1  113  3.77
25  27.3    4   79.0   66  4.08
14  10.4    8  472.0  205  2.93
17  32.4    4   78.7   66  4.08
6   14.3    8  360.0  245  3.21
16  14.7    8  440.0  230  3.23
8   22.8    4  140.8   95  3.92
0   21.0    6  160.0  110  3.90
2   22.8    4  108.0   93  3.85
7   24.4    4  146.7   62  3.69
22  15.2    8  304.0  150  3.15
11  16.4    8  275.8  180  3.07
20  21.5    4  120.1   97  3.70
9   19.2    6  167.6  123  3.92
30  15.0    8  301.0  335  3.54
28  15.8    8  351.0  264  4.22
15  10.4    8  460.0  215  3.00
26  26.0    4  120.3   91  4.43
3   21.4    6  258.0  110  3.08

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr=LogisticRegression()

In [ ]:
lr.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
xtest

     mpg  cyl   disp   hp  drat
29  19.7    6  145.0  175  3.62
19  33.9    4   71.1   65  4.22
4   18.7    8  360.0  175  3.15
1   21.0    6  160.0  110  3.90
24  19.2    8  400.0  175  3.08
31  21.4    4  121.0  109  4.11
10  17.8    6  167.6  123  3.92
13  15.2    8  275.8  180  3.07
18  30.4    4   75.7   52  4.93
21  15.5    8  318.0  150  2.76

In [ ]:
ypredict=lr.predict(xtest)

In [ ]:
ypredict

array([1, 1, 0, 0, 0, 1, 0, 0, 1, 0], dtype=int64)

In [ ]:
from sklearn.metrics import r2_score,mean_squared_error,accuracy_score

In [ ]:
print(accuracy_score(ytest,ypredict))

0.9

In [ ]:
input=[3.7,5.7]

In [ ]:
ypredict=lr.predict([input])
print("salary predicted, Rs.",ypredict1)

salary predicted, Rs. [70805.]